<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_tag(states_path, method: :get, id: "search-form", class: "needs-validation") do %>
        <div class="form-group">
          <%= label_tag :state, "Estado" %>
          <%= select_tag :state, options_for_select(["Paraná", "Santa Catarina", "Rio Grande do Sul"], params[:state]), prompt: "Selecione o estado", class: "form-control", required: true  %>
        </div>
        <div class="form-group">
          <%= label_tag :name, "Cidade" %>
          <%= text_field_tag :name, params[:name], placeholder: "Digite o nome da cidade...", class: "form-control" %>
          <div class="invalid-feedback">
            Por favor, insira o nome da cidade.
          </div>
        </div>
        <br>
        <%= submit_tag "Procurar", class: "btn btn-primary" %>
      <% end %>
        <%= render 'shared/table' if @cities %>
    </div>
  </div>
</div>
